.MuiBottomNavigationAction-root{
    font-size: 0.8vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.1em;
    color: #FB797E;
}

.MuiBottomNavigationAction-root.Mui-selected{
    color: #FB797E;
}


