
.container{
    margin: 2em;
    margin-left: 10%;
    width: 80%;
}

.card-wrapper{
    position: relative;
    width: 100%;
    padding: 0 0.5em;
    box-sizing: border-box;

    &:active,&:hover,&:focus{
        outline: none;
        border: none;
    }
}

.card{
    width: 100%;
    height: 40em;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    .card-image{
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #000;
        transition: .5s;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover{
        img{
            opacity: .4;
            transition: .5s;
        }
    }
}

.carousel{

    .slick-prev, .slick-next{
        width: 45px;
        height: 450px;
        border-radius: 5px;
        background-color: #FC787F;
        outline: none;
    }
    .slick-prev:hover,.slick-next:hover{
        color: #fff;
        outline: none;
        background: #fff;
    }
    .slick-prev:before, .slick-next:before{
        color:#000;
    }
    .slick-next{
        right: -8%;
    }
    .slick-prev{
        left: -8%;
    }
}